<!DOCTYPE html>
<html lang="en">
<head>
  <title>myapp</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/assets/styles/bootstrap.min.css" rel="stylesheet">
  <script src="/assets/scripts/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Login</h1>
                    <h6>Please enter email and password !!</h6>

                </div>
                
                    <form [formGroup]="loginForm" (ngSubmit)="login()">
                      <div class="mb-3" >
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input formControlName="password" type="password" class="form-control" minlength="8"id="exampleInputPassword1">
                      </div>
                      <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                      </div>
                      <button type="submit" class="btn btn-primary">Login</button>
                      </form>
                      <a routerLink="/signup"><button class="btn btn-primary signup">Signup</button></a>
            </div>
        </div>
    </div>

</div>
</body>
