


<div class="container">
    <p> works!</p>
    <h2>New Delivery Status</h2>
  <form class="form-horizontal">

    <div class="form-group">
      <label class="control-label col-sm-2" for="DeliveryID ">Delivery ID :</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="DeliveryID" placeholder="Enter Delivery ID">
      </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="Deliverystatus ">Delivery status :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="Deliverystatus" placeholder="Enter status">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="OrderID">Order ID:</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="OrderID" placeholder="Enter Order ID">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="ShipperID">Shipper ID:</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="ShipperID" placeholder="Enter Shipper ID">
        </div>
    </div>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>

  </form>
</div>


