

<div class="container">
    
    <hr>
    <table class="table">
      <thead>
        <tr>
          <!-- <th scope="col">#</th> -->
          <th scope="col">Delivery Id</th>
          <th scope="col">Status</th>
          <th scope="col">Order ID</th>
          <th scope="col">Shipper ID</th>
          
        </tr>
      </thead>
      <tbody>
        <tr>
          <!-- <th scope="row">{{i+1}}</th> -->
          <td>{{deliverDetail.deliveryid }}</td>
          <td>{{deliverDetail.status  }}</td>
          <td>{{deliverDetail.orderid}}</td>
          <td>{{deliverDetail.shipperid	}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  